<div class="container">
  <h2>Convertir Pptx en images</h2>
  <h5>Convertissez vos documents Pptx en images avec une précision incroyable.
    Alimenté par Solid Documents.</h5>

  <!-- Champ personnalisé -->
  <div class="file-input" (dragover)="onDragOver($event)" 
  (drop)="onDrop($event)">
  
    <input type="file" (change)="onFileSelected($event)" accept=".pptx" id="pptxFileInput">

    <label for="pptxFileInput" class="file-label">Sélectionner un fichier .Pptx</label>
    <p *ngIf="fileName">Fichier sélectionné: {{ fileName }}</p>

    <!-- Affichage état upload -->
    <p *ngIf="uploading" class="file-cours">En cours d'upload...</p>

    <!-- Gestion erreur -->
    <p *ngIf="error">{{ error }}</p>

    <!-- Zone de dépôt visible lors du survol -->
    <div class="drop-zone" [class.active]="isDraggingOver">
      Déposez un fichier PPTX ici
    </div>
  </div>

  <!-- Boutons actions -->
  <div class="buttons">
    <button class="btn" (click)="onUpload()" [disabled]="!fileContent || uploading">Convertir votre fichier
      Pptx</button>
    <button (click)="onReset()" class="btn btn-reset">Réinitialiser</button>
  </div>





</div>
<br>
<br>


