/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

/* Main Container */
.container {
  width: 100%;
  max-width: 1200px;
  min-height: fit-content;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Header */
h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Buttons */
.buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6f9fd3;
  color: white;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #5a89c0;
}

/* Input Fields */
.number-input, .file-name-input {
  width: 80px;
  text-align: center;
  font-size: 1rem;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Controls Section */
.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Range Slider */
.range-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.styled-range {
  width: 100%;
  max-width: 300px;
  height: 8px;
  background: linear-gradient(to right, #d2d2d3, #797777);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.styled-range::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #888888;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.styled-range::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}























.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
   margin: auto;
  width: 70%;
  border: 3px solid rgb(233, 240, 233);
  padding: 10px;
  overflow: hidden;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  max-width: 100%;
}

.image-wrapper {
  position: relative;
  display: flex;
}

img {
  width: 100%;
  border-radius: 8px;
  height: auto;
}

.checkbox-overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  transform: scale(1.5);
}

.image-grid > * {
  height: auto;
  justify-content: space-around;

}

@media (min-width: 720px) {
  .image-grid {
    justify-content: space-between;
  }
}

@media (max-width: 919px) {
  .image-grid {
    justify-content: center;
  }
}